@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  box-sizing: border-box;
  line-height: 1;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;

  /* background-color: #292929; */
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 1600px;
  padding-top: 5em;
}

.logo {
  font-family: 'Bebas Neue';
  font-size: 4em;
}

.description {
  margin-top: 10em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.description__title {
  font-size: 2em;
  font-weight: 700;
}

.description__subtitle {
  font-size: 1em;
  margin-top: 0.2em;
}

.description__secondary {
  margin-top: 2em;
  font-size: 1.4em;
  line-height: 1.2em;
}

.description__secondary>ul>li {
  margin-left: 1.2em;
}

.description__contacts {
  margin-top: 5em;
  font-size: 1em;
  
  line-height: 1.5em;
}

.description__contacts>ul>li {
  margin-left: 1.4em;
}
.description__contacts>ul>li>a {
  color: #fff;
}

footer {
  position: fixed;
  bottom: 5%;
}

.icon {
  margin: 0 1em 0 0;
}

@media (max-width:1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width:992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width:767px) {
  .container {
    max-width: none;
    width: 70%;
    padding-top: 10%;
  }

  .logo {
    font-size: 4em;
  }

  .description {
    margin-top: 5em;
  }

  .description__title {
    font-size: 1.5em;
  }

  .description__secondary {
    margin-top: 3em;
    font-size: 1.2em;
  }
}

